.table {
    width: 100%;
    margin-bottom: 1rem;
    color: #212529;
    border-collapse: collapse;
  }
  
  .table th,
  .table td {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
  }
  
  .table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
  }
  
  .table tbody + tbody {
    border-top: 2px solid #dee2e6;
  }
  .pagination {
    display: flex;
    justify-content: center;
    list-style: none;
  }
  
  .pagination li {
    display: inline-block;
    margin: 0 5px;
  }
  
  .pagination li a {
    color: #007bff;
    text-decoration: none;
    padding: 5px 10px;
    border: 1px solid #007bff;
    border-radius: 5px;
  }
  
  .pagination li.active a {
    background-color: #007bff;
    color: #fff;
  }
  
  .pagination li a:hover {
    background-color: #f2f2f2;
  }
    